In [6]:
# IMPORTS

import os
import env

import pandas as pd
from pydataset import data

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

from math import sqrt
from scipy import stats

# import our own acquire module
import acquire
import prepare


# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from prepare import my_train_test_split, telco_training_validate_testing

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

**The following cells are the acquisition of the Telco data from the server, and its transformation into something useable for analysis.**

In [4]:
#  Use the function defined in acquire.py to load the Telco data.

telco_df = acquire.get_telco_data(env.sql_connexion)
telco_df.head(3)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check

In [3]:
# Tidying up the imported dataframe into a useable format.

tidy_telco = prepare.prep_telco(telco_df)

tidy_telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,internet_service_type,payment_type,gender_Female,gender_Male,partner_No,partner_Yes,dependents_No,dependents_Yes,paperless_billing_No,paperless_billing_Yes
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,DSL,Mailed check,1,0,0,1,0,1,0,1
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,DSL,Mailed check,0,1,1,0,1,0,1,0
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,Fiber optic,Electronic check,0,1,1,0,1,0,0,1
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,Fiber optic,Electronic check,0,1,0,1,1,0,0,1
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Fiber optic,Mailed check,1,0,0,1,1,0,0,1